.pre-commit-config.yaml
.env_example
.dockerignore
.idea
.DS_Store
.git
.gitignore
.github
docker-compose.yml
Makefile

README.md
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info
.Python

# Alembic
alembic/versions/__pycache__/
alembic/__pycache__/
